<div class="center">
   <h4 class="margin-center" id="intro">Hello, I'm Brandon, a third year Computer Engineering student at Cal
      Poly San Luis Obispo.
      My hobbies include programming, soccer, music, video games, art and
      traveling. If you want to check out my techinal abilities navigate over to <a
         href="/resume">Resume</a> or <a href="/projects">Projects</a>. If you are
      curious about my interest read on. For the last six months I have been
      addicted to learning all about web development. I set up my own server, made a
      personal website, learned some server side programming, learned some front-end
      programming (this site is fully responsive, resize the browser, you know you want to), and whole lot about databases. Since my school does not offer web
      development classes this has all been self-taught or acquired while working. As far as
      Soccer goes my favorite team is Manchester United and I'm looking forward
      to the World Cup this next summer. Currently my favorite video game is League
      of Legends and it doesn't look like that will change for a while.</h3>
</div>
<div class="margin-center" id="row-width">
   <div class="row">
      <div class="col-md-6">
         <h3>Books I Enjoy</h3>
         <ul>
            <li>The Well-Grounded Rubyist, by David A. Black</li>
            <li>Outliers, by Malcolm Gladwell</li>
            <li>Beginning Rails 3, by Carneiro Al Barazi</li>
            <li>Javascript: The Good Parts, by Douglas Crockford</li>
            <li>The Curious Incident of the Dog in the Night-Time, by Mark Haddon</li>
            <li>Ghost in the Wires: My Adventures as the World's Most Wanted Hacker,
            by Kevin Mitnick</li>
            <li>Alice's Adventures in Wonderland, by Lewis Carroll</li>
         </ul>
      </div>
      <div class="col-md-6">
         <h3>Artist I Enjoy</h3>
         <ul>
            <li>M.C. Escher (My personal server that is hosting this website is named
            Escher)</li>
            <li>Auguste Rodin</li>
            <li>Jackson Pollock</li>
            <li>Andy Warhol</li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <h3>Countries I've Visited</h3>
         <ul>
            <li>Czech Republic (My personal favorite)</li>
            <li>Germany</li>
            <li>Hungary</li>
            <li>Austria</li>
            <li>Italy</li>
            <li>Mexico</li>
            <li>Belize</li>
            <li>Russia</li>
            <li>England</li>
         </ul>
      </div>
      <div class="col-md-6">
         <h3>Music I Enjoy</h3>
         <ul>
            <li>The Weeknd</li>
            <li>Kanye West</li>
            <li>Frank Ocean</li>
            <li>Daft Punk</li>
            <li>TNGHT</li>
            <li>Major Lazer</li>
            <li>Miley Cyrus (Just kidding)</li>
            <li>And many more, but I won't list them all here</li>
         </ul>
      </div>
   </div>
   <link rel="stylesheet" type="text/css" href="home.css">
