<% if (message) { %>
<h3 class="center error"><%= message %><h3>
<%}%>
<form role="form" class="center" action="/login" method="post">
   <div class="form-group">
      <label>Username:</label>
      <input type="text" class="margin-center form-control input-sm" name="username"/><br/>
   </div>
   <div class="form-group">
      <label>Password:</label>
      <input type="password" class="margin-center form-control input-sm" name="password"/><br/>
   </div>
   <div>
      <button class="btn btn-default" type="submit">Submit</button>
   </div>
</form>
