<div>
   <h3>These are descriptions of past projects I have worked on.</h3>
   <a href="https://github.com/bleventh">Check me out on Github!</a>
   <h5>ChatApp</h5>
   <span>
   This is a small webapp I put together over a weekend to learn about
   backbone.js, socket.io and a node.js framework called sails. The app is a
   chat room and the cool part is that the chat is updated on all users screens
   using two-way data binding between the client and server using socket.io.
   </span>
   <h5>Twerk-O-Meter</h5>
   <span>
   This is an iPhone App waiting approval on the App Store. The basis of the app
   is that each user puts the phone in their back pocket and twerks. Based on
   the quality of their twerking judged by the built in accelerometer and
   gyroscope they are given a score. They then can pass the phone around to
   friends to see who can receive a better score. The scores are posted to a
   global leaderboard using http request with a mysql back-end so users can see
   how their twerking ability compares to the rest of the world. 
   </span>
</div>
