<div>
   <h3>These are descriptions of past projects I have worked on.</h3>
   <a href="https://github.com/bleventh">Check me out on Github!</a>
   <h5>ChatApp</h5>
   <span>
   This is a small webapp I put together over a weekend to learn about
   backbone.js, socket.io and a node.js framework called sails. The app is a
   chat room and the cool part is that the chat is updated on all users screens
   using two-way data binding between the client and server using socket.io.
   </span>
   <h5>Twerk-O-Meter</h5>
   <span>
   This is an iPhone App waiting approval on the App Store. The basis of the app
   is that each user puts the phone in their back pocket and twerks. Based on
   the quality of their twerking judged by the built in accelerometer and
   gyroscope they are given a score. They then can pass the phone around to
   friends to see who can receive a better score. The scores are posted to a
   global leaderboard using http request with a mysql back-end so users can see
   how their twerking ability compares to the rest of the world.
   </span>
   <h5>This Website</h5>
   <span>
   I needed a site to tell people who I am and show them my projects so here it
   is. This site uses bootstrap for responsive css, Express js as it's framework
   and various node modules to keep everything together. I even implemented an
   admin section for this page that uses passportjs for authentication. If you
   navigate to <a href="/admin">admin</a> it'll reroute you to a login page because you
   aren't authenticated.
   </span>
   <h5>CatFacts!</h5>
   <span>
   CatFacts! is an automated version of the famous prank often seen on reddit
   where someone is sent a cat facts periodically and if they respond more cat
   facts come in. If you haven't seen this before here's a great example <a
   href="http://www.google.com/imgres?imgurl=http://www.geekologie.com/2012/01/26/cat-facts-prank.jpg&imgrefurl=http://geekologie.com/2012/01/ah-yes-the-ol-cat-facts-text-subscriptio.php&h=521&w=640&sz=125&tbnid=OSRxgokXp5tnKM:&tbnh=84&tbnw=103&zoom=1&usg=__YFIbxxrRgwRyW-F6dBKRls_y0bk=&docid=zHionFfD-NPK9M&sa=X&ei=IHY_UrW7GKiPigL45IHACw&ved=0CDAQ9QEwAA">Cat
   facts prank</a>. My friend and I used a python google voice api to send text to our
   friends cat facts and automatically respond to them when they text the
   number. We only kept it up for a little while because it was quite annoying
   but it was a very fun project. We created a backed that allows users to
   subscribe and we logged all of the messages on a mysql database.
   </span>
</div>
