<div class="margin-center" id="resume-intro"><h3>Education: </h3>Bachelors of Science, Computer Engineering degree from
   California Polytechnic State University, San Luis Obispo, CA projected in
   June 2015</div></br>
<div id="resume" class="margin-center">
   <h3>Experience: </h3>
   <h2>Programming Experience</h2>
   January 2011 to present
   <ul>
      <li>Languages: Ruby, Python, Java, Objective-C, C, PHP, Javascript (Front-end
      and Server-side using Node.js) </li>
      <li>Experienced in web development</li>
      <li>Front-end: JQuery, MooTools, CSS, and HTML.</li>
      <li>Back-end: PHP, Ruby (Rails and Sinatra), Node.js (Express.js)</li>
      <li>Experience with databases including MySQL and MongoDB.</li>
      <li>Understanding of MVC, http, and general web development paradigms.</li>
      <li>Familiar with version control using Git and Github</li>
      <li>Self motivated to learn. I learned Ruby, Python, Objective-C and Javascript on my own by reading books and programming with them.</li>
   </ul>
   <h2>Quality Assurance Engineer</h2>
   iFixit, San Luis Obispo, CA</br>
   April 2013 to present
   <ul>
      <li>Create automated testing using Selenium rc and Selenium Webdriver.</li>
      <li>Development in command-line Linux, Javascript, PHP, CSS, PHTML, and
      MySQL</li>
      <li>Prepare and Review code for deployment</li>
      <li>Develop in teams using Git and Github.</li>
   </ul>
   <h2>iPhone App Developer</h2>
   blacApps, Tustin, CA</br>
   February 2011 to present
   <ul>
      <li>Co-Founder of iOS App Development Company blacApps</li>
      <li>Developed four iPhone applications that collectively have over two
      million downloads</li>
      <li>Developed an iPhone app that reached the number one spot in the Free
      Entertainment Category on the Apple App Store</li>
   </ul>
   <h2>App Development Instructor</h2>
   idTech Camps, Stanford, CA</br>
   Summer 2012
   <ul>
      <li>Taught children aged 13-17 how to develop their own iPhone Apps</li>
      <li>Built Customer relations with Parents and Students</li>
   </ul>
</div>
